@import "./settings/global";
@import "./settings/colours";
@import "./settings/break-points";
@import "./settings/typography";

@import "./tools/units";
@import "./tools/breakpoint";

@import "./generic/normalize";
@import "./generic/box-sizing";

$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./elements/general";
@import "./elements/typography";
@import "./elements/form";
@import "./elements/print";

@import "../../../node_modules/slick-carousel/slick/slick.scss";

@import "./objects/wp";
@import "./objects/grid";

@import "./utils/helpers";
@import "./utils/flex";
@import "./utils/margins";

// Components
@import "./components/page";
@import "./components/widget";
@import "./components/comment";
@import "./components/search-form";
@import "./components/search-form-search-page";
@import "./components/pagination-links";
@import "./components/button";
@import "./components/price-tables";

// Header Components
@import "./components/header";
@import "./components/header-nav";
@import "./components/header-hero";

// Footer Components
@import "./components/footer";

// Front Page Components
@import "./components/front-page/front-page";
@import "./components/front-page/hero";
@import "./components/front-page/selection";

// Blog Components
@import "./components/blog-page/blog-card";
@import "./components/blog-page/blog";
@import "./components/blog-page/blog-pagination";
@import "./components/posts/post-sidebar";
@import "./components/posts/post-full";
@import "./components/posts/post";
@import "./components/category";
@import "./components/brand";

// Other Food Pages
@import "./components/food-pages/food-pages";
@import "./components/food-pages/sweet-savoury";

// Contact Page Components
@import "./components/contact-page/contact-hero";
@import "./components/contact-page/contact";

// About Page Components
@import "./components/about-us/about-us";

// Woocommerce
@import "./components/woocommerce/woocommerce";
@import "./components/woocommerce/select2.scss";
@import "./components/shop";


// .archive .page-title {
//   display: none;
// }

#facebook {
  display: none;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: rgba(240, 78, 68, 0.1);
}

.wpcf7-response-output {
  color: $white;
}

.wpcf7 form.sent .wpcf7-response-output {
  border: 2px solid $success-colour;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  border: 2px solid $warning-colour;
}

.wpcf7-not-valid-tip {
  color: $danger-colour;
}

.cff-likebox {
  display: none;
}

.back-to-shop {
  font-size: 1.125rem;
  margin: 50px auto 30px;
  a {
    max-width: 300px;
  }

  p {
    @include font-bold;
  }
}

.woocommerce ul.products li.product .button {
  width: 100%;
}

.mejs-controls {
  display: none !important;
  visibility: hidden !important;
}


.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: right;
  margin-left: 4px;
  width: 32px;
  height: auto;
  box-shadow: none;
  display: none !important;
  color: white !important;
}

.woocommerce ul.cart_list, .woocommerce ul.product_list_widget {
  list-style: none outside;
  padding: 0 20px 0 0 !important;
  margin: 0;
  @include font-body;
}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
  display: block;
  font-weight: 300 !important;
}
