.c-contact {
  margin-bottom: 70px;

  &__container {
    // padding: 0 100px;
    max-width: 1400px;

    @media (max-width: 1400px) {
      padding: 0 1.25rem;
    }
    @media (max-width: 767px) {
      padding: 0;
    }
    h1 {
      color: $brand;
      margin: 25px 0 50px;
      @media (max-width: 767px) {
        margin: 25px 1.25rem 50px;
      }
    }
  }

  h2,
  h4 {
    color: $brand;
  }

  h2 {
    font-size: 2rem;
  }

  &__info {
    width: 50%;
    padding: 3.25rem;
    background: $brand-cream;

    p {
      margin: 0;
    }

    h4 {
      margin: 1.875rem 0 0.5rem;
      color: $dark-grey;
    }

    &-social-media {
      h4 {
        margin-bottom: 15px;
      }
    }

    &-social-icons {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 25px;
        height: 25px;
      }
    }

    &__social-logo {
      margin-right: 1rem;
    }
  }

  &__form {
    width: 50%;
    padding: 3.25rem;
    background: $dark-grey;

    p {
      color: $white;
    }

    label {
      font-size: rem-calc(18);
    }

    input::placeholder,
    textarea::placeholder {
      font-size: rem-calc(16);
    }

    input,
    textarea {
      outline: none;
      border-radius: 5px;
      margin-top: 5px;
    }

    textarea {
      padding: 0.625rem;
    }

    .wpcf7-submit {
      width: 200px;
      display: block;
      max-width: 300px;
      margin-top: 20px;
      position: relative;
      padding: 0.625rem 30px;
      border-radius: 10px;
      font-weight: 600;
      
      // border: 1px solid $brand-lighter;
      background-image: linear-gradient(-180deg, $brand-darker 0%, $brand 100%);
      &:hover {
        cursor: pointer;
        background-image: linear-gradient(-180deg, $brand 0%, $brand-darker 100%);
        color: $white;
      }
    }
  }
}

@media only screen and (max-width: 959px) {
  .c-contact {
    margin-top: 50px;
    margin-bottom: 70px;
    flex-direction: column;

    &__info {
      width: 100%;
      margin-bottom: 0;
      padding: 3.25rem 1.875rem 3.5rem;
    }

    &__form {
      width: 100%;
      padding: 3.25rem 1.875rem 3rem;
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

#cookie-law-info-again {
  display: none;
}
